.text-gold {
  color: #724B18;
  // color: #B98533;


}

.header-gold {
  text-align: center;
  // background: linear-gradient(135deg, #F0A929, #F7D346);
  background: #FF9F12;
  // background-color: rgba(233, 166, 32, 0.8)!important;
  color: white;
}

ion-content {
  direction: rtl;
}

.price-content-header {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 22px;
  color: #DEA243;
  // color: --text-gold;
}

.price-content-header img {
  margin-left: 10px;
}

.price-content-header p {
  margin: 10px 5px;
}

.line {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  height: 1px;
  background: gainsboro;
}

.line2 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  height: 2px;
  // background: #FF9F12;
  background: #DE7710;
}

.gold-date {
  // display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  // background: #FF9F12;
}

.gold-date ion-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.gold-date ion-card-header p {
  margin: 0 0;

}


.price-content-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.buyandsell {
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  direction: ltr;
  align-items: center;
}

.price-content-button .btn-buy {
  text-align: center;
  border-radius: 8px;
  background: #DE7710;
  color: white;
  padding: 5px 10px;
  width: 90px;
  margin: 0 15px;


}

.price-content-button .btn-sell {
  text-align: center;
  border-radius: 8px;
  padding: 5px 10px;
  width: 90px;
  margin: 0 15px;
  // background: #1C8EA9;
  background: #1ca98b;
  color: white;
  // background: #008298;
  // border: 2px solid #1C8EA9;

}

.img-bars {
  margin: 20PX 20px;
  text-align: center;
}

.recive-price {
  padding: 20px;
}

//.label-text{
//  text:
//}

.alert-button-group.sc-ion-alert-md {
  justify-content: center!important;
}

.date-time{
  padding-top: 5px!important;
}

.gold-date p{
  font-size: 12px;
}
