<ion-page>
  <ion-header id="main-content">
    <ion-toolbar color="b" class="header-gold">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h6>
        WholeSell Gold
      </h6>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div dir="rtl">
      <div class="price-content-header">
        <img src="../assets/images/gold1.jpg" style="width: 25px; height: 20px;" alt="">
        <p class="text-gold">بنکداری {{seller_name}}</p>
      </div>
      <div class="line"></div>

      <div class="img-bars">
        <img src="../assets/images/gold6.png" style="width:300px; height: 130px;" alt="">
      </div>

<!--      @if (installPrompt) {-->
      <button class="install-button" (click)="installPwa()">
        نصب اپلیکیشن
      </button>
<!--      }-->

      <hr>
      <div class="line2"></div>

      <ion-grid>
        <ion-row>
          <ion-col size="12" sizeMd="4">
            <ion-card class="gold-date">
              @if (storeStatus ) {
              <ion-card-header>
                <div>
                  <p> هر گرم طلای 18 عیار <small>( تومان ):</small></p>
                </div>
                <div>
                  @if (gold_price2) {
              <p>
                {{ buyPrice | number:'1.0' }}
              </p>
              }
              </div>
            </ion-card-header>
              } @else {
              <div class="no-store">
                فروشگاه بسته است.
              </div>
              }

              <ion-card-header class="date-time">
                <div>
                  @if (gold_price2) {
                  <p>{{time.time}}</p>
                  }
                </div>

                <div>
                  @if (gold_price2) {
                  <p>{{date.date}}</p>
                  }
                </div>
              </ion-card-header>
            </ion-card>


          </ion-col>
        </ion-row>
      </ion-grid>


      <!--      <ion-grid>-->
      <!--        <ion-row>-->
      <!--          <ion-col size="12" sizeMd="4">-->
      <!--            <ion-card class="gold-date">-->
      <!--              <ion-card-header>-->
      <!--                <div>-->
      <!--                  <p> هر گرم طلای 18 عیار <small>( تومان ):</small></p>-->
      <!--                </div>-->
      <!--                <div>-->
      <!--                  <p *ngIf="gold_price2">-->
      <!--                    {{ buyPrice | number:'1.0' }}-->
      <!--                  </p>-->
      <!--                </div>-->
      <!--              </ion-card-header>-->

      <!--              <ion-card-header class="date-time">-->
      <!--                <div>-->
      <!--                  <p *ngIf="gold_price2">{{time.time}}</p>-->
      <!--                </div>-->

      <!--                <div>-->
      <!--                  <p *ngIf="gold_price2">{{date.date}}</p>-->
      <!--                </div>-->
      <!--              </ion-card-header>-->
      <!--            </ion-card>-->
      <!--          </ion-col>-->
      <!--        </ion-row>-->
      <!--      </ion-grid>-->

      <div class="price-content-button">

        <div class="buyandsell">
          @if (gold_price2) {
          <h5>
          {{ buyPrice + latestChangeBuyPrice | number:'1.0' }}
          </h5>
          }
          <div class="btn-buy" [class.disabled]="!storeStatus" (click)="updatePrice('buy')"> قیمت خرید</div>
          <div>
            <ion-button class="small-button" [disabled]="!storeStatus" shape="round" fill="outline"
                        (click)="addToPrice('buy')">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </div>
          <div>
            <ion-button class="small-button" [disabled]="!storeStatus" shape="round" fill="outline"
                        (click)="minusToPrice('buy')">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
          </div>
          @if (gold_price2) {
          <h5>
          {{ updateBuyPrice| number:'1.0' }}
          </h5>
          }
        </div>

        <div class="buyandsell">
          @if (gold_price2) {
          <h5>
          {{ sellPrice + latestChangeSellPrice| number:'1.0'}}
          </h5>
          }
          <div color="kk" class="btn-sell" [class.disabled]="!storeStatus" (click)="updatePrice('sell')">قیمت فروش</div>
          <div>
            <ion-button class="small-button" [disabled]="!storeStatus" shape="round" fill="outline"
                        (click)="addToPrice('sell')">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </div>
          <div>
            <ion-button class="small-button" [disabled]="!storeStatus" shape="round" fill="outline"
                        (click)="minusToPrice('sell')">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
          </div>
          @if (gold_price2) {
          <h5>
          {{ updateSellPrice| number:'1.0' }}
          </h5>
          }
        </div>
        <!-- <img src="../assets/images/Golg3.jpg" style="width: 100px; height: 70px;" alt=""> -->
        <!-- <img src="../assets/images/gold-background.jpg" style="width: 100px; height: 70px;" alt=""> -->
      </div>


    </div>


  </ion-content>

</ion-page>
