
.header-gold {
  text-align: center;
  background: #FF9F12;
  color: white;
}


.menu_header_bg {
  color: red !important;
  width: 350px;
  height: 180px;
  // background-color: #7590d6;
  background: linear-gradient(150deg, #f5f6f9 0%, #e0ac08 100%);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;

}

.header-content {
  position: absolute;
  top: 30px;
  left: 10px;
  display: flex;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
    //border: 5px solid #5e7ccc;
    border-radius: 50%;
    margin-right: 9px;
  }

  h2,
  p {
    color: white;
  }
}

.action-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  ion-button {
    font-weight: 3000;
    border-radius: 50px;
    --background: #d7d8da;
  }
}

//.active {
//  border-right: 6px solid #628cff;
//  color: #628cff;
//  padding-right: 15px;
//
//  ion-icon {
//    color: #628cff;
//  }
//}


.menu-items {

  ion-icon, ion-toggle {
    //color: #76979f;
    color: #FF9F12;
    margin-left: 10px;
  }

  .active {
    border-right: 6px solid #628cff;
    color: #628cff;
    padding-right: 15px;

    ion-icon {
      color: #628cff;
    }
  }

}

.footer {
  width: 100%;
  height: auto;
  padding: 10px 30px 10px 30px;
  //background-color: #333333;
  //background-color: #BFBFBF;
  background-color: rgb(10, 12, 84);
}

.text-white {
  color: white;
}

.toggle-wrapper {
  //justify-content: flex-end!important;
}
