<!--first time-->
@if (SelectSellerFirstTimeView) {
  <div class="form">
    <h2> انتخاب بنکدار </h2>
    <form id="form3" [formGroup]="selectSellerForm" (ngSubmit)="onSelectSellerFirstTimeSubmit()">
      <div class="text-end">
        <div>
          <label class="form-check-label mb-1 text-end pe-2 pr-3" for="sellers">
            <i class="bi bi-key-fill"></i>
            <span class="text-gray pe-2"> انتخاب فروشنده </span>
          </label>
        </div>
        <div class=" rounded-3 mb-5 p-2">
          <select dir="rtl" class="form-select rounded-3 mb-5 p-2 "
            aria-label="Default select example"
            (change)="onSelectedSellersChange($event)"
            id="sellers">
            <option selected>لطفا یک فروشنده را انتخاب کنید 1</option>
            @for (seller of sellersList; track seller) {
              <option value="{{seller.id}}">{{seller.store_name}}</option>
            }
          </select>
        </div>
      </div>
      <button type="submit"
        class="bg-green p-2 text-white bg-opacity-75 rounded-3">ثبت نهایی
      </button>
    </form>
  </div>
}


<!--second time-->
@if (onSelectSellerNextTimeView) {
  <div class="form">
    <h2> انتخاب بنکدار </h2>
    <!--    <form id="form4" [formGroup]="selectSellerForm" (ngSubmit)="onSelectSellerSecondTimeSubmit()">-->
    <div class="text-end">
      <div>
        <label class="form-check-label mb-1 text-end pe-2 pr-3" for="customer-sellers">
          <i class="bi bi-key-fill"></i>
          <span class="text-gray pe-2"> انتخاب یکی از فروشنده ها 2 </span>
        </label>
      </div>
      <div class=" rounded-3 mb-5 p-2">
        @if (customerseller) {
          <select dir="rtl" class="form-select rounded-3 mb-5 p-2 "
            aria-label="Default select example"
            (change)="onSelectedCustomerSellersChange($event)"
            id="customer-sellers">
            <option selected>لطفا یک فروشنده را انتخاب کنید</option>
            @for (seller of customerseller['sellers']; track seller) {
              <option
              value="{{seller.id}}"> {{seller.store_name}} </option>
            }
          </select>
        }
      </div>
    </div>
    <!--    (click)="goToApp()"-->
    <button (click)="goToApp()"
      class="bg-green p-2 text-white bg-opacity-75 rounded-3">ثبت نهایی
    </button>
  </div>
}
