<!--<ion-app>-->
<!--  &lt;!&ndash; <ion-split-pane when="md"> &ndash;&gt;-->
<!--  <ion-menu side="end" contentId="main-content">-->
<!--    <ion-header>-->
<!--      <ion-toolbar color="p" class="header-gold">-->
<!--        <ion-title> پنل مدیریت</ion-title>-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-content>-->

<!--      <div class="menu_header_bg"></div>-->

<!--      <div class="header-content ion-text-center">-->
<!--        <img src="../assets/images/istockphoto4.jpg" style="width: 100px; height: 100px" alt="">-->
<!--        <ion-label>-->
<!--          <h2> <strong>{{receive_user}} </strong> </h2>-->
<!--        </ion-label>-->
<!--      </div>-->
<!--      <div class="action-button">-->
<!--        <ion-button>-->
<!--          <ion-icon slot="start" name="person-add-outline"></ion-icon>-->
<!--          افزودن-->
<!--        </ion-button>-->
<!--      </div>-->

<!--      <ion-list class="menu-items" dir="rtl" lines="none">-->
<!--        <ion-item>-->
<!--          <ion-icon name="people-circle-outline"></ion-icon>-->
<!--          مشتری ها-->
<!--        </ion-item>-->
<!--        <ion-item [routerLink]="['/add-seller']">-->
<!--          <ion-icon name="add-circle-outline"></ion-icon>-->
<!--          افزودن-->
<!--        </ion-item>-->
<!--        <ion-item [routerLink]="['/change-seller']">-->
<!--         <ion-icon name="storefront-outline"></ion-icon>-->
<!--          فروشنده های دیگر-->
<!--        </ion-item>-->
<!--        <ion-item (click)="logout()">-->
<!--          <ion-icon name="log-out-outline"></ion-icon>-->
<!--          خروج-->
<!--        </ion-item>-->
<!--      </ion-list>-->
<!--    </ion-content>-->
<!--  </ion-menu>-->

<!--  <ion-router-outlet id="main-content"></ion-router-outlet>-->
<!--  &lt;!&ndash; </ion-split-pane> &ndash;&gt;-->
<!--</ion-app>-->


<ion-app >
  <app-seller-menu *ngIf="showMenu && userType === 'seller'"></app-seller-menu>
  <app-customer-menu *ngIf="showMenu && userType === 'customer'"></app-customer-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>

<!--<ion-app>-->
<!--  <ion-router-outlet></ion-router-outlet>-->
<!--</ion-app>-->
