<!--<ion-header id="main-content">-->
<!--  <ion-toolbar color="b" class="header-gold">-->
<!--    <ion-buttons slot="end">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--    <h6>-->
<!--      WholeSell Gold-->
<!--    </h6>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Tab 3</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

<!--  <app-explore-container name="Tab 3 page"></app-explore-container>-->
<!--</ion-content>-->


<ion-header id="main-content">
  <ion-toolbar color="k" class="header-gold">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h6>
      WholeSell Gold
    </h6>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- <app-sidenav [id]="recived_id">
</app-sidenav> -->


<ion-content class="ion-padding" slot="end">


  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="5">
        <ion-searchbar (keyup.enter)="onSearchInput($event)" placeholder="جستجوی نام مشتری" clear-on-edit="true"
                       label-placement="floating"></ion-searchbar>
        <!--        <ion-button> جستجو</ion-button>-->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isSearch">
    <ion-row>
      <ion-col size="12" sizeSm="6">
        <ion-card dir="rtl" class="customer-info1">
          <ion-card-header>
            <div class="customer-info-title">
              <div>
                <ion-card-title>فاکتور</ion-card-title>
              </div>
              <div>
                <ion-icon (click)="isSearchToggle()" name="close-circle-outline"
                          style="width: 20px; height: 20px; color: red;"></ion-icon>
              </div>
            </div>
          </ion-card-header>

          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col>تاریخ</ion-col>
                <ion-col>زمان</ion-col>
                <ion-col>نوع معامله</ion-col>
                <ion-col>وزن <small>(گرم)</small></ion-col>
                <ion-col>مبلغ <small>(تومان)</small></ion-col>
              </ion-row>

              <ion-row *ngFor="let trans of allTransactions">
                <ion-icon name="checkmark-outline"></ion-icon>
                <ion-col>{{trans.jalaliDate}}</ion-col>
                <ion-col>{{trans.jalaliTime}}</ion-col>
                <ion-col [ngClass]="trans.transaction_type === 'buy' ? 'green-text' : 'red-text'">
                  {{ trans.transaction_type === 'buy' ? 'خرید' : 'فروش' }}
                </ion-col>
                <ion-col>{{trans.weight}} </ion-col>
                <ion-col>{{trans.price | number:'1.0'}} </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeSm="6"></ion-col>
    </ion-row>
  </ion-grid>

  <br/>

  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="5">
        <ng-persian-datepicker [uiTheme]="customTheme" (dateOnSelect)="onSelect($event)">
          <input type="text" class="calender" [formControl]="dateValue" placeholder="تاریخ را انتخاب کنید"/>
        </ng-persian-datepicker>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isSearchByDate">
    <ion-row>
      <ion-col size="12" sizeSm="6">
        <ion-card dir="rtl" class="customer-info1">
          <ion-card-header>
            <div class="customer-info-title">
              <div>
                <ion-card-title>فاکتور</ion-card-title>
              </div>
              <div>
                <ion-icon (click)="isSearchByDateToggle()" name="close-circle-outline"
                          style="width: 20px; height: 20px; color: red;"></ion-icon>
              </div>
            </div>
          </ion-card-header>

          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col>تاریخ</ion-col>
                <ion-col>زمان</ion-col>
                <ion-col>نام مشتری</ion-col>
                <ion-col>نوع معامله</ion-col>
                <ion-col>وزن <small>(گرم)</small></ion-col>
                <ion-col>مبلغ <small>(تومان)</small></ion-col>
              </ion-row>

              <ion-row *ngFor="let trans of allTransactionsByDate">
                <ion-icon name="checkmark-outline"></ion-icon>
                <ion-col>{{trans.jalaliDate}}</ion-col>
                <ion-col>{{trans.jalaliTime}}</ion-col>
                <ion-col>{{trans.customer_name}}</ion-col>
                <ion-col [ngClass]="trans.transaction_type === 'buy' ? 'green-text' : 'red-text'">
                  {{ trans.transaction_type === 'buy' ? 'خرید' : 'فروش' }}
                </ion-col>

                <ion-col>{{trans.weight}} </ion-col>
                <ion-col>{{trans.price | number:'1.0'}} </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeSm="6"></ion-col>
    </ion-row>
  </ion-grid>


  <!--  <label for=""> جستجو بر اساس تاریخ </label>-->
  <!--  &lt;!&ndash;  <ion-list class="">&ndash;&gt;-->
  <!--  <ng-persian-datepicker class="persian-datepicker position-relative" (dateOnSelect)="onSelect($event)">-->
  <!--    <input type="text" class="calender" [formControl]="dateValue"/>-->
  <!--  </ng-persian-datepicker>-->
  <!--  </ion-list>-->

  <h5 class="text-r ion-padding">معاملات امروز </h5>

  <swiper-container class="moamelate-emroz" [slidesPerView]="slidesPerView" speed="300" loop="true" css-mode="true">
    <swiper-slide *ngFor="let item of items">

      <ion-card [routerLink]="['/customers-detail',item.id]">

        <!-- <img alt="Silhouette of mountains" src="../../assets/images/circle.png" style="width: 50px; height: 50px;" /> -->
        <!-- <img alt="Silhouette of mountains" src="../../assets/images/circle.png" style="width: 50px; height: 50px;" /> -->
        <div class="ion-text-center">
          <img alt="Silhouette of mountains" [src]=item.image style="width: 50px; height: 50px;"/>
          <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
          <!-- <ion-card-subtitle>{{item.description}}</ion-card-subtitle> -->
          <div class="card-content">
            {{item.description}}
          </div>
        </div>

      </ion-card>

    </swiper-slide>
  </swiper-container>


</ion-content>


