<!--<ion-header id="main-content">-->
<!--  <ion-toolbar color="primary">-->
<!--    &lt;!&ndash; <ion-title>Menu</ion-title> &ndash;&gt;-->
<!--    <ion-buttons slot="end">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->

<!--    <ion-buttons slot="start">-->
<!--      <ion-back-button>-->
<!--      </ion-back-button>-->
<!--    </ion-buttons>-->

<!--  </ion-toolbar>-->
<!--</ion-header>-->
<ion-header id="main-content">
  <ion-toolbar color="b" class="header-gold">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h6>
      WholeSell Gold
    </h6>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content class="ion-padding" slot="end">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8">
        <div class="form">
          <h2> انتخاب بنکدار دیگر </h2>
          <form id="form" [formGroup]="changeSellerForm" (ngSubmit)="onChangeSellerSubmit()">

            <div class="text-end">
              <div>
                <label class="form-check-label mb-1 text-end pe-2 pr-3" for="customer-sellers">
                  <i class="bi bi-key-fill"></i>
                  <span class="text-gray pe-2"> انتخاب یکی از فروشنده ها  </span>
                </label>
              </div>
              @if (customerseller) {
                <div class=" rounded-3 mb-5 p-2">
                  <select dir="rtl" class="form-select rounded-3 mb-5 p-2 "
                    aria-label="Default select example"
                    id="customer-sellers"
                    (change)="onSelectedSellersChange($event)">
                    <option selected>لطفا یک فروشنده را انتخاب کنید</option>
                    @for (seller of customerseller['sellers']; track seller) {
                      <option value="{{seller.id}}"
                      value="{{seller.id}}"> {{seller.store_name}} </option>
                    }
                  </select>
                </div>
              }
            </div>
            <button class="bg-green p-2 text-white bg-opacity-75 rounded-3"> انتخاب</button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


