<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="customer-tab1" href="/customer-tabs/customer-tab1" (click)="selectedTabFunc('customer-tab1')">
      <ion-icon aria-hidden="true" name="person"
                [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'customer-tab1'}">
      </ion-icon>
      <ion-label [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'customer-tab1'}">Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer-tab2" href="/customer-tabs/customer-tab2" (click)="selectedTabFunc('customer-tab2')">
      <ion-icon aria-hidden="true" name="home"
                [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'customer-tab2'}">
      </ion-icon>
      <ion-label [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'customer-tab2'}"> فروشگاه</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer-tab3" href="/customer-tabs/customer-tab3" (click)="selectedTabFunc('customer-tab3')">
      <ion-icon aria-hidden="true" name="stats-chart-outline"
                [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'customer-tab3'}">
      </ion-icon>
      <ion-label [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'customer-tab3'}">معاملات من</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
