<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ثبت نام</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" slot="end">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8">
        <div class="form">
          <div class="avatar">
            <img src="../../assets/images/istockphoto6.jpg" alt="Avatar">
          </div>
          <h2>فرم ثبت نام</h2>
          <form id="form2" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

            <!-- Name -->
            <div class="ion-text-end position-relative">
              <label class="form-check-label mb-1 text-end pe-2" for="username">
                <span class="text-gray"> نام کاربری</span>
                <i class="bi bi-file-earmark-person-fill"></i>
              </label>
              <input dir="rtl" type="text" class="form-control p-2 rounded-3 mb-2"
                     formControlName="username"
                     id="username">
              <div
                *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)"
                class="alert">
                <div class="text-center" *ngIf="registerForm.get('username')?.hasError('required')">
                  <small>وارد کردن نام کاربری الزامی است </small>
                </div>
              </div>
            </div>

            <!-- Mobile -->
            <div class="ion-text-end position-relative">
              <label class="form-check-label mb-1 text-end pe-2" for="email">
                <span class="text-gray"> شماره موبایل</span>
                <i class="bi bi-telephone-fill"></i>
              </label>
              <input dir="rtl" type="text" class="form-control p-2 rounded-3 mb-2"
                     formControlName="email"
                     id="email">
              <div
                *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                class="alert">
                <div class="text-center" *ngIf="registerForm.get('email')?.hasError('required')">
                  <small>وارد کردن موبایل الزامی است </small>
                </div>
                <div class="text-center" *ngIf="registerForm.get('email')?.hasError('minLength')">
                  <small>شماره موبایل باید حداقل 11 رقم باشد.</small>
                </div>
                <div class="text-center" *ngIf="registerForm.get('email')?.hasError('maxLength')">
                  <small>شماره موبایل باید حداکثر 11 رقم باشد.</small>
                </div>
              </div>

            </div>

            <!-- Address -->
            <div class="ion-text-end position-relative">
              <label class="form-check-label mb-1 text-end pe-2" for="address">
                <span class="text-gray"> آدرس </span>
                <i class="bi bi-shop-window"></i>
              </label>
              <input dir="rtl" type="text" class="form-control p-2 rounded-3 mb-2"
                     formControlName="address"
                     id="address">
              <div
                *ngIf="registerForm.get('address')?.invalid && (registerForm.get('address')?.dirty || registerForm.get('address')?.touched)"
                class="alert">
                <div class="text-center" *ngIf="registerForm.get('email')?.hasError('required')">
                  <small>وارد کردن آدرس الزامی است </small>
                </div>
              </div>

            </div>

            <!-- Password -->
            <div class="ion-text-end">
              <label class="form-check-label mb-1 text-end pe-2 pr-3" for="password">
                <span class="text-gray pe-2">رمز عبور</span>
                <i class="bi bi-key-fill"></i>
              </label>
              <input dir="rtl" type="text" class="form-control p-2 rounded-3 mb-5"
                     formControlName="password">
            </div>


            <!-- User Type -->
            <div class="ion-text-end">
              <label class="form-check-label mb-1 text-end pe-2 pr-3" for="">
                <span class="text-gray pe-2"> نوع کاربر </span>
                <i class="bi bi-person-vcard-fill"></i>
              </label>
              <ion-radio-group>
                <div class="radio-inline">
                  <ion-item dir="rtl">
                    <ion-label>مشتری</ion-label>
                    <ion-radio (click)="checkType('customer')" value="customer" slot="start"></ion-radio>
                  </ion-item>
                  <ion-item dir="rtl">
                    <ion-label>فروشنده</ion-label>
                    <ion-radio (click)="checkType('seller')" value="seller" slot="start"></ion-radio>
                  </ion-item>
                </div>
              </ion-radio-group>
              <!--              <ion-select class="rtl-select" aria-label="Favorite Fruit" value="" formControlName="user_type">-->
              <!--                <ion-select-option *ngFor="let user of user_type" [value]="user.user_type">-->
              <!--                  {{ user.name }}-->
              <!--                </ion-select-option>-->
              <!--              </ion-select>-->
            </div>

            <!--            <div>-->
            <!--              <label for="optiona" class="me-4">مشتری</label>-->
            <!--              <input (click)="checkType('seller')" class="mx-3" type="radio" name="options1" id="optiona">-->

            <!--              <label for="optionb">فروشنده</label>-->
            <!--              <input (click)="checkType('customer')" class="mx-3" type="radio" name="options1" id="optionb">-->
            <!--            </div>-->


            <!-- Submit Button -->
            <button type="submit" class="bg-green p-2 text-white bg-opacity-75 rounded-3">ثبت نام</button>
          </form>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!--========== form nomber 2 ===============-->

<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>ثبت نام</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content class="ion-padding">-->
<!--  <div class="form-container">-->
<!--    <h2 class="form-title">فرم ثبت نام</h2>-->

<!--    <ion-item>-->
<!--      <ion-input label="نام کاربری" label-placement="floating" type="text" required></ion-input>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-input label="شماره موبایل" label-placement="floating" type="tel" required></ion-input>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-input label="آدرس" label-placement="floating" type="text"></ion-input>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-input label="رمز عبور" label-placement="floating" type="password" required></ion-input>-->
<!--    </ion-item>-->

<!--    <div class="user-type">-->
<!--      <label>نوع کاربر:</label><br/>-->
<!--      <ion-radio-group>-->
<!--        <ion-item>-->
<!--          <ion-label>مشتری</ion-label>-->
<!--          <ion-radio value="customer" slot="start"></ion-radio>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label>فروشنده</ion-label>-->
<!--          <ion-radio value="seller" slot="start"></ion-radio>-->
<!--        </ion-item>-->
<!--      </ion-radio-group>-->
<!--    </div>-->

<!--    <ion-button expand="block" color="success">ثبت نام</ion-button>-->
<!--  </div>-->
<!--</ion-content>-->
