<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/seller/tabs/tab1" (click)="selectedTabFunc('tab1')">
      <ion-icon aria-hidden="true" name="person"
                [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'tab1'}">
      </ion-icon>
      <ion-label [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'tab1'}">Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/seller/tabs/tab2" (click)="selectedTabFunc('tab2')">
      <ion-icon aria-hidden="true" name="home"
                [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'tab2'}">
      </ion-icon>
      <ion-label [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'tab2'}"> فروشگاه</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/seller/tabs/tab3" (click)="selectedTabFunc('tab3')">
      <ion-icon aria-hidden="true" name="people"
                [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'tab3'}">
      </ion-icon>
      <ion-label [ngClass]="{'icon_blue': true, 'active_tab': selectedTab == 'tab3'}"> اطلاعات مشتری</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
