<ion-header [translucent]="true">
  <ion-toolbar color="b" class="header-gold">
    <ion-title>WholeSell Gold</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      refreshingSpinner="circles"
      pullingText="برای به‌روزرسانی بکشید"
      refreshingText="در حال به‌روزرسانی...">
    </ion-refresher-content>
  </ion-refresher>


  <!--  Search Box-->
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="5">
        <h6 class="serch-date my-0">
          <ion-icon name="search-outline"></ion-icon>
          جستجو بر اساس تاریخ
        </h6>
        <ng-persian-datepicker [uiTheme]="customTheme" (dateOnSelect)="onSelect($event)">
          <input type="text" class="calender" [formControl]="dateValue" placeholder="تاریخ را انتخاب کنید"/>
        </ng-persian-datepicker>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--  Search Transactions By Date-->
  @if (isSearchByDate) {
    <ion-grid>
      @if (allTransactionsByDate.length > 0) {
        <ion-row>
          <ion-col size="12" sizeSm="6">
            <ion-card dir="rtl" class="customer-info1">
              <ion-card-header>
                <div class="customer-info-title">
                  <div>
                    <ion-card-title>فاکتور</ion-card-title>
                  </div>
                  <div>
                    <ion-icon (click)="isSearchByDateToggle()" name="close-circle-outline"
                    style="width: 20px; height: 20px; color: red;"></ion-icon>
                  </div>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>تاریخ</ion-col>
                    <ion-col>زمان</ion-col>
                    <ion-col>نام مشتری</ion-col>
                    <ion-col>نوع معامله</ion-col>
                    <ion-col>وزن <small>(گرم)</small></ion-col>
                    <ion-col>مبلغ <small>(تومان)</small></ion-col>
                  </ion-row>
                  @for (trans of allTransactionsByDate; track trans) {
                    <ion-row>
                      <ion-icon name="checkmark-outline"></ion-icon>
                      <ion-col>{{trans.jalaliDate}}</ion-col>
                      <ion-col>{{trans.jalaliTime}}</ion-col>
                      <ion-col>{{trans.customer_name}}</ion-col>
                      <ion-col [ngClass]="trans.transaction_type === 'buy' ? 'green-text' : 'red-text'">
                        {{ trans.transaction_type === 'buy' ? 'خرید' : 'فروش' }}
                      </ion-col>
                      <ion-col>{{trans.weight}} </ion-col>
                      <ion-col>{{trans.price | number:'1.0'}} </ion-col>
                    </ion-row>
                  }
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeSm="6"></ion-col>
        </ion-row>
      }
    </ion-grid>
  }

  <ion-card-content>
    <p class="allTransaction" (click)="allTransaction()"><i class="bi bi-receipt"></i> همه معاملات</p>
  </ion-card-content>

  <!--  Ion Modal-->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>همه داد و ستد های من</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">بستن</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <!--  Search Total Transactions-->
        @if (isSearchTotal) {
          <ion-grid>
            <ion-row>
              <ion-col size="12" sizeSm="6">
                <ion-card dir="rtl" class="customer-info1">
                  <ion-card-header>
                    <div class="customer-info-title">
                      <div>
                        <ion-card-title>فاکتور</ion-card-title>
                      </div>
                      <div>
                        <ion-icon (click)="isSearchByDateToggle()" name="close-circle-outline"
                        style="width: 20px; height: 20px; color: red;"></ion-icon>
                      </div>
                    </div>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col>تاریخ</ion-col>
                        <ion-col>زمان</ion-col>
                        <ion-col>نام مشتری</ion-col>
                        <ion-col>نوع معامله</ion-col>
                        <ion-col>وزن <small>(گرم)</small></ion-col>
                        <ion-col>مبلغ <small>(تومان)</small></ion-col>
                      </ion-row>
                      @for (trans of allTransactions; track trans) {
                        <ion-row>
                          <ion-icon name="checkmark-outline"></ion-icon>
                          <ion-col>{{trans.jalaliDate}}</ion-col>
                          <ion-col>{{trans.jalaliTime}}</ion-col>
                          <ion-col>{{trans.customer_name}}</ion-col>
                          <ion-col [ngClass]="trans.transaction_type === 'buy' ? 'green-text' : 'red-text'">
                            {{ trans.transaction_type === 'buy' ? 'خرید' : 'فروش' }}
                          </ion-col>
                          <ion-col>{{trans.weight}} </ion-col>
                          <ion-col>{{trans.price | number:'1.0'}} </ion-col>
                        </ion-row>
                      }
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="12" sizeSm="6"></ion-col>
            </ion-row>
          </ion-grid>
        }
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
