.login-page {
  width: 550px;
  //padding: 3% 0 0;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.border-right {
  border-left: 1px solid rgb(201, 201, 201);
}

.avatar {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.form input[type="text"],
.form input[type="password"],
.form select {
  //font-family: 'Roboto', sans-serif;
  outline: none;
  width: 100%;
  // margin: 0 10px;
  margin-bottom: 15px;
  padding: 15px 15px;
  border: 1px solid rgb(201, 201, 201);
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

//.form input:active{
//    border: none;
//}

.form button {
  //font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: none;
  background-color: #2196F3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 20px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background-color: #1976D2;
}

.form h2 {
  color: #333333;
  font-size: 28px;
  margin: 0 0 30px;
}

.form label {
  font-size: 13px;
}

.form p.message {
  color: #666666;
  font-size: 14px;
  margin-top: 15px;
}

.form p.message a {
  color: #2196F3;
  text-decoration: none;
}

.form p.message a:hover {
  text-decoration: underline;
}

.bg-green {
  background-color: #27AE60 !important;
}

.login-content {
  color: gray;
}

.login-content p {
  font-size: 10px;
}

label i {
  color: cornflowerblue;
}

.text-gray {
  color: gray;
  padding: 10px;
}

a {
  cursor: pointer;
}

.alert {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  bottom: 0;
  left: 20%;
  //margin-left: auto;
  //margin-right: auto;

  color: red;
}

.position-relative {
  position: relative;
}
