<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> ورود</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" slot="end">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8">
        <div class="avatar">
          <img src="../../assets/images/istockphoto6.jpg" alt="Avatar">
        </div>


        <div class="form" *ngIf="loginView">
          <h2>فرم ورود</h2>
          <form id="form1" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="ion-text-end">
              <label class="form-check-label mb-1 text-end pe-2" for="email">
                <span class="text-gray"> شماره موبایل</span>
                <i class="bi bi-telephone-fill"></i>
              </label>
              <input dir="rtl" type="text" class="form-control p-2 rounded-3 mb-2" id="Username"
                     formControlName="email">
            </div>

            <div class="ion-text-end">
              <label class="form-check-label mb-1 text-end pe-2 pr-3" for="password">
                <span class="text-gray mx-5">رمز عبور</span>
                <i class="bi bi-key-fill"></i>
              </label>
              <input dir="rtl" type="text" class="form-control p-2 rounded-3 mb-5" id="password"
                     formControlName="password">
            </div>
            <p [routerLink]="['/register']" class="text-success"><a> هنوز ثبت نام نکرده ام </a></p>
            <button type="submit"
                    class="bg-green p-2 text-white bg-opacity-75 rounded-3">ورود
            </button>
          </form>
        </div>


        <!--        <div class="form" *ngIf="SelectSellerFirstTimeView">-->
        <!--          <h2> انتخاب بنکدار </h2>-->
        <!--          <form id="form3" [formGroup]="selectSellerForm" (ngSubmit)="onSelectSellerFirstTimeSubmit()">-->

        <!--            <div class="text-end">-->
        <!--              <div>-->
        <!--                <label class="form-check-label mb-1 text-end pe-2 pr-3" for="sellers">-->
        <!--                  <i class="bi bi-key-fill"></i>-->
        <!--                  <span class="text-gray pe-2"> انتخاب فروشنده </span>-->
        <!--                </label>-->
        <!--              </div>-->
        <!--              <div class=" rounded-3 mb-5 p-2">-->
        <!--                <select dir="rtl" class="form-select rounded-3 mb-5 p-2 "-->
        <!--                        aria-label="Default select example"-->
        <!--                        (change)="onSelectedSellersChange($event)"-->
        <!--                        id="sellers">-->
        <!--                  <option selected>لطفا یک فروشنده را انتخاب کنید</option>-->
        <!--                  <option *ngFor="let seller of sellersList" value="{{seller.id}}"> {{seller.store_name}} </option>-->
        <!--                </select>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <button type="submit"-->
        <!--                    class="bg-green p-2 text-white bg-opacity-75 rounded-3">ثبت نهایی-->
        <!--            </button>-->
        <!--          </form>-->
        <!--        </div>-->


        <!--        <div class="form" *ngIf="onSelectSellerNextTimeView">-->
        <!--          <h2> انتخاب بنکدار </h2>-->
        <!--          <form id="form4">-->

        <!--            <div class="text-end">-->
        <!--              <div>-->
        <!--                <label class="form-check-label mb-1 text-end pe-2 pr-3" for="customer-sellers">-->
        <!--                  <i class="bi bi-key-fill"></i>-->
        <!--                  <span class="text-gray pe-2"> انتخاب یکی از فروشنده ها  </span>-->
        <!--                </label>-->
        <!--              </div>-->
        <!--              <div class=" rounded-3 mb-5 p-2">-->
        <!--                <select dir="rtl" class="form-select rounded-3 mb-5 p-2 "-->
        <!--                        aria-label="Default select example"-->
        <!--                        (change)="onSelectedCustomerSellersChange($event)"-->
        <!--                        id="customer-sellers">-->
        <!--                  <option selected>لطفا یک فروشنده را انتخاب کنید</option>-->
        <!--                  <option *ngFor="let seller of customerseller['sellers']"-->
        <!--                          value="{{seller.id}}"> {{seller.store_name}} </option>-->
        <!--                </select>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <button (click)="goToApp()"-->
        <!--                    class="bg-green p-2 text-white bg-opacity-75 rounded-3">ثبت نهایی-->
        <!--            </button>-->
        <!--          </form>-->
        <!--        </div>-->


        <!--        <button (click)="addSellerToCustomerSubmit()"> افزودن فروشنده </button>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

